<p>
	Type in any part of any word in the item's title or description. Any order works.
</p>

	<br>

<%= form_tag("search", method: "get") do %>
	<%= label_tag(:query, "Search for:") %>
	<%= text_field_tag(:query, @query) %>

	<br>
	<br>

	<% @types.each do |type| %>
		<%= check_box_tag("sel_types[]", type.id, @sel_types.member?(type)) %>
		<%= label_tag(type, type.title) %>
	<% end %>

	<br>
	<br>

	<%= submit_tag("Search") %>
<% end %>

	<br>
	<br>

<% @items.any? do %>
	<table>
	  <thead>
	    <tr>
	      <th>Type</th>
	      <th>Title</th>
	      <th>Description</th>
	      <th>Lost by</th>
	      <th></th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @items.each do |item| %>
	      <tr>
	        <td><%= item.type.title %></td>
	        <td><%= item.title %></td>
	        <td><%= item.description %></td>
	        <td><%= item.owner %></td>
	        <td><%= link_to 'Details', item %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
<% end %>
