<p>
	Type in any part of any word in the item's title or description. Any order works.
</p>

<br>

<%= form_tag("search", method: "get") do %>
	<%= label_tag(:query, "Search for:") %>
	<%= text_field_tag(:query, @query) %>

	<%= select_tag(:mode, options_for_select([
		['each word', 'and'],
		['at least one word', 'or']
		], @sel_mode)) %>


	<br>
	<br>

	<% @all_types.each do |type| %>
		<%= check_box_tag("sel_types[]", type.id, @sel_types.member?(type)) %>
		<%= label_tag(type, type.title) %>
	<% end %>

	<br>
	<br>

	<%= submit_tag("Search") %>
<% end %>

<br>
<br>

<% @items.any? do %>
	<%= render partial: 'table', locals: {show_links: false} %>
<% end %>